html, body {
	height: 100%;
}


body {
	margin:0px;
	padding:0px;
	font-size:14px;
	font-family:Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#484848;
	display:block;
	position:relative;
	min-height:100vh;
	margin: 0;
	padding: 0;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
}


.container {
	max-width:1000px;
	margin:30px auto 0 auto;
	padding-bottom:90px;
}
button {
	font-size:18px;
	color:#FFFFFF;
	background-color:#FF5A5F;
	height:48px;
	width:20%;
	border-style:none;
	border-radius:4px;
	position:absolute;
	right:30px;
	top:11px;
	width: 100%;
	max-width: 1000px;
	margin: 30px auto;
	position: relative;
	flex: 1 0 auto;
}
button:hover{
opacity:0.9;


p {
	text-align: center;
	vertical-align: middle;
}
